[2020-11-04 16:46] gilgold commented on #2
Hey @smaragdus !
Thanks for reporting the issue.
Tabox was not designed to run on browsers other than Chrome - I will look into making it compatible with Cent Browser and other Chromium based browsers.

[2020-11-04 16:52] smaragdus commented on #2
@gilgold

Thank you for the super fast response!

I was not aware that the extension was not supposed to work with Chromium forks. I know that the latest stable version of Cent Browser is a bit old (from _2020-04-23_).

If you have time and plan to develop the extension further I may suggest some enhancements if you don't mind.

Regards

[2020-11-04 16:54] gilgold commented on #2
Sure thing, please feel free to suggest what ever you like, I will do my best to get it done

[2020-11-05 15:43] gilgold commented on #2
A fix for this issue has been merged and submitted to the Chrome Web Store for publishing.
Version 3.2.3 should be out later today

[2020-11-05 18:20] smaragdus commented on #2
@gilgold

You are extremely quick in responding, confirming and fixing issues! I appreciate your helpfulness, thanks.

I have just checked version **3.2.3** and I cam confirm that both export and import of tab sets work fine. So I will close this issue.

When I have time I will open a few new issues about possible enhancements of your extension.

Best regards

[2020-12-21 18:05] gilgold commented on #4
Hey @sevdalin thanks for reporting the issue.
I was not able to reproduce it locally, can you post a screenshot and more information about the resolution your screen is set to?
Thanks!

[2020-12-23 22:30] sevdalin commented on #4
![defect](https://user-images.githubusercontent.com/25548429/103041418-03180100-457f-11eb-821d-6caaae20f1ac.JPG)

My resolution is set to maximum (1920x1080 Full HD).

[2020-12-24 15:57] gilgold commented on #4
Thanks, I will look into that!

[2021-01-06 04:43] gilgold commented on #4
The issue has been fixed in version 3.2.4 - It's pending publish in the Chrome Web Store now and should be public soon.
Please reopen the issue if you still see the problem after updating to version 3.2.4.

Thanks!

[2021-01-06 22:13] sevdalin commented on #4
@gilgold thanks for the fast fix. I will update when it's available.
And just one suggestion. If you have some time, can you make the list names editable?

[2021-02-04 12:35] RedMoikle commented on #6
https://developer.chrome.com/docs/extensions/reference/tabs/#method-query

The query method looks like it can also be used to list all tabs in the specified group.

some pseudocode - I am not going to submit this as a pull request, as I am not a JS Dev:

[code]

[2021-02-04 13:31] RedMoikle commented on #6
Could something like this work to load Tabox groups into a new chrome group?

[code]

[2021-02-05 00:00] gilgold commented on #6
Hey @RedMoikle ! Thank you for taking the time to dig into this!
I am currently working on various features regarding Chrome Groups.
I have been playing around with those APIs in the canary build of Chrome but had some issues with properly recreating chrome groups. I am still working on it and hope to have something ready soon.

I appreciate the time you took to research the matter and suggesting

[2021-02-05 12:36] RedMoikle commented on #6
No worries!

I am glad to hear that you are working on it right now.
I'd like to mention that reading through your code taught me a little bit of JavaScript, so this has been useful for me!

[2021-03-19 12:02] RedMoikle commented on #6
You seem to be getting there with this. The UI now recognises that the tabs were in a group, however they don't yet create a group when loading them again

[2021-03-19 20:14] gilgold commented on #6
@RedMoikle Not sure what you mean, I tested it and when I save tabs that also include chrome groups, everything is saved correctly and when I click to open that tabox group it opens everything the way it was.
If this is not what you are seeing, can you share some screenshots?
Thanks!

[2021-03-20 03:35] webcoderkz opened #8 "Autosave feature?"
Hello, thanks for the nice extension! But, is there a way to autosave current opened tabs/group tabs automatically, just like Session Buddy extension did?

Also i've enabled google drive sync, but cannot find tabox files on my google drive.

[2021-03-20 04:15] gilgold commented on #8
Hey @webcoderkz!
By autosave, do you mean when closing a window full of tabs? If so, we do have a link in the bottom called "open you last closed window or tab"
![image](https://user-images.githubusercontent.com/10116036/111858656-98b9f700-8908-11eb-80c2-ce1172a1addc.png)

It will reopen whatever you closed last, if it's a tab it will reopen that tab. If it's a window, it will restore that window.

[2021-03-20 04:18] webcoderkz commented on #8
Thanks, for the quick response. By autosave i meant, right now i have to add a file name and hit the "Add" button, the my saved tabs/tab groups would appear in the list you mentioned in your screenshot above. Is there a way to create these "snapshots" automatically, let's say on a daily basis? So i won't have to worry about saving my tabs manually. Hope i explained well enough.

[2021-03-20 04:21] gilgold commented on #8
Ah I see what you mean, such a thing would be handy for some, but may also cause the list of saved sessions to grow long very fast and might make the extension hard to navigate.
It might be a bit out of scope for Tabox, but I will try to see if there is a clean way to add such a feature.

Thanks for the feedback though! And please feel free to suggest more ideas!

[2021-03-20 04:23] webcoderkz commented on #8
You might call this snapshot "daily session" or whatever, then just override it, no need to store it like a server backups 😂

[2021-03-23 13:15] RedMoikle commented on #6
Test tabs and groups before I use tabox:
![image](https://user-images.githubusercontent.com/10142045/112151744-790d2200-8bd9-11eb-8f1d-5f24a40499cb.png)

I then used tabox to save all opened tabs and it does register that 2 groups are present:
![image](https://user-images.githubusercontent.com/10142045/112151852-9641f080-8bd9-11eb-9d92-368b2df39134.png)
![image](https://user-images.githubuserconte

[2021-03-23 13:34] gilgold commented on #6
I see, thank you for the screenshots!
I will look into this

[2021-03-23 15:49] gilgold commented on #6
Looks like this is an issue only when using the "tabs will be added to this window" option instead of the open new window one.
I will create a new issue for this as it's not related to the chrome groups feature.
Thanks for reporting!

[2021-03-24 16:41] gilgold commented on #9
Fixed this in #10 v3.3.1 was sent to the Chrome Web Store for publish

[2021-03-24 16:54] gilgold commented on #6
@RedMoikle this should now be resolved in version 3.3.1 - it is live in the Chrome Web Store and should auto update in your browser soon.

[2021-03-26 16:03] thegaryking commented on #11
if you can access "... -> Chrome -> history" only when asked, you might not have to keep track of all open tabs.

[2021-03-26 16:09] gilgold commented on #11
@thegaryking The chrome history API does not keep track of group settings for grouped tabs - so if we use only the history API, we will not be able to restore groups, only tabs.
Also, history does not keep a record if the tab is closed or currently open, it just collects all the URLs you visit.

[2021-05-04 16:16] gilgold commented on #15
Fixed in #16

[2021-05-04 16:18] gilgold opened #17 "Add ability to update an existing collection"
Add the ability to update an existing collection without the need to delete and re-save it.
This can be in the form of an "update" button for each saved collection, clicking it will update this collection with all the current tabs and groups

[2021-05-11 00:02] gilgold commented on #17
this was added to v3.3.3

[2021-05-11 00:02] #17 closed

[2021-05-15 12:59] sevdalin opened #21 "When opening saved tabs they are added to the current window"
When opening saved group of tabs, they are added to the current Chrome window and get mixed with the rest of the taps you have opened.
Not too long ago when you open the save tabs they were opening separately in a new Chrome window as it should be, so it can be kept separate and help you work better. Is this changed on purpose or not? Can you please make it as it was, because it was a huge differe

[2021-05-16 22:10] gilgold commented on #20
Thanks for reporting @sevdalin ! I will fix it ASAP!

[2021-05-16 22:12] gilgold commented on #21
Hey @sevdalin ! Can you make sure the toggle to "open in a new window" is on?
![image](https://user-images.githubusercontent.com/10116036/118414383-d36eb000-b669-11eb-85da-72fe52c14f34.png)

[2021-05-16 22:22] gilgold commented on #20
A fix has been issued in version 3.3.4 and is pending publish to the Chrome Web Store.

[2021-05-17 16:50] sevdalin commented on #21
Indeed the toggle was off. May be this happened after some update, because I did not turned it off intentionally. However, my bad. Closing this invalid defect.

[2021-05-17 16:50] #21 closed

[2021-07-12 20:39] gilgold opened #1 "Support editing colections"
Add support for editing existing collections:
- Ability to add / remove tabs from collection
- Ability to rename a collection
- Ability to rename tab groups
- Ability to change tab group colors

[2021-07-19 23:43] gilgold opened #2 "Start capturing window information in collection"
Before starting to support multi window collections, we need to start with just capturing the current window's metadata when saving collections.
This will allow adding support for saving window sizes and positions.

[2021-07-20 18:15] gilgold opened #3 "Support auto-updating collections"
Add support for collections that can auto update as the user opens and closes tabs or changes anything in the window associated with the collection.

Window -> Collection association can be created when the user saves a collection or when opening one.

This functionality requires we collect window information, as suggested in #2

[2021-07-23 14:43] gilgold opened #4 "Add undo option for various actions in the extension"
Once a user clicks the "update" button or does any operation that changes the collections, provide a way to undo that operation via a snackbar undo button.

[2021-07-23 14:45] gilgold opened #5 "Add a search box to search collections"
Add a way to search for a collection by name

[2021-08-16 18:44] sebastianmurillonader opened #6 "Generate a URL per Collection so they can be triggered to open from 3rd parties (thinking particularly about https://www.alfredapp.com/)"
Reference on how it could work here: https://twitter.com/sebmurillonader/status/1427337564713889804

[2021-08-20 01:41] gilgold commented on #6
Thanks for the feature request!
I will be looking into this and if it's possible to create such URLs in chrome extensions I will add this feature to one of the upcoming versions.

[2021-08-20 01:45] sebastianmurillonader commented on #6
Thanks, Gil!

I and all the team at 8020 have talked about this and we'd find it super helpful for our workflows! I am happy to share it again or share the process in Twitter to try and get you some new followers/customers from the No Code community .

—
Sebastián Murillo | @sebmurillonader

--- original message ---
On August 19, 2021, 8:41 PM CDT ***@***.*** wrote:

Thanks for the feature request

[2021-08-21 19:17] gilgold opened #7 "Add backup and restore capability when updating version"
When a new version of Tabox is available and is installed for the user, backup all current collections and provide a way to restore those collections from the settings menu.
This is in case something happens to the collections after updating the version - the user can undo that.

[2021-08-23 18:49] gilgold commented on #1
this is now available in v3.4.8

[2021-08-23 18:49] #1 closed, assigned to gilgold

[2021-08-23 18:49] gilgold commented on #7
this is now available in v3.4.8

[2021-08-23 18:49] #7 closed, assigned to nobody

[2021-08-23 18:50] gilgold commented on #4
this is now available in v3.4.8

[2021-08-23 18:50] #4 closed, assigned to gilgold

[2021-08-25 23:24] gilgold opened #9 "Add sentry framework to capture errors"
As more users are encountering hard to reproduce errors, we will add the Sentry framework to keep track of issues.

[2021-08-27 20:27] #9 closed, assigned to nobody

[2021-08-27 20:33] gilgold opened #11 "Handle errors when trying to restore session"
When restoring last opened window or tab, add better error handling and display proper snackbar error message.
Sentry issue id: TABOX-A

[2021-08-27 20:34] #11 closed, assigned to nobody

[2021-09-09 18:55] gilgold commented on #6
After looking into this issue, I found that it is not possible to generate a URL that will lunch Tabox and open a collection.
Instead, the only thing I can do is provide keyboard shortcuts for the first 4 collections.

Using the combination of `Ctrl/Cmd + Shift + 1,2,3 or 4` will lunch the corresponding collection from your Tabox list.

In Alfred, you can build a workflow to first open Chrome and

[2021-09-09 19:03] gilgold opened #12 "Using ' in a collection name causes it to appear encoded in the UI"
Using apostrophe ( ' ) in a collection name causes it to appear as a URL encoded &#39;

[2021-09-09 19:03] gilgold commented on #12
Added to v3.5

[2021-09-09 19:03] #12 closed, assigned to nobody

[2021-09-09 19:11] gilgold commented on #6
Reference on how this can be done:
Opening chrome (with specific profile) https://www.alfredforum.com/topic/3242-google-chrome-with-specific-user/
Sending a keyboard shortcut: https://www.alfredapp.com/help/workflows/outputs/dispatch-key-combo/

[2021-09-19 17:45] sebastianmurillonader commented on #6
Thanks, so much sir! This will be very helpful for sure.

All the best.

—
Sebastián Murillo | @sebmurillonader

--- original message ---
On September 9, 2021, 2:12 PM CDT ***@***.*** wrote:

Reference on how this can be done:

Opening chrome (with specific profile) https://www.alfredforum.com/topic/3242-google-chrome-with-specific-user/

Sending a keyboard shortcut: https://www.alfredapp.com/help

[2021-09-23 23:23] gilgold opened #13 "Add basic unit test setup"
Add basic unit test setup using jest.
1 simple test for each of the key components should do for this issue.

[2021-09-23 23:24] gilgold commented on #5
moving this to v3.5.1 to speedup bug fixes release in v3.5

[2021-09-23 23:25] gilgold commented on #2
Window information will now be captured (when saving collections) and applied (when opening collections) to reflect the window size and position.
This will be released in v3.5

[2021-09-24 15:14] gilgold commented on #13
Added to v3.5

[2021-09-24 15:14] #13 closed, assigned to nobody

[2021-09-24 18:18] gilgold opened #14 "JS error when opening the popup"
Sentry error ID: TABOX-6
`TypeError: Cannot use 'in' operator to search for 'uid' in undefined`

[2021-09-24 18:19] gilgold commented on #14
fixed in v3.5

[2021-09-24 18:19] #14 closed, assigned to nobody

[2021-09-24 18:30] gilgold opened #15 "JS Error - TypeError: object null is not iterable"
Sentry ID: TABOX-3

[2021-09-24 18:30] gilgold commented on #15
fixed in v3.5

[2021-09-24 18:30] #15 closed, assigned to nobody

[2021-09-24 18:34] gilgold opened #16 "Problems with importing collections form file"
Some users have reported an issue that after importing a collection from file, that collection is either not added or added but is not clickable.
Possibly related to Sentry issue ID: TABOX-5

[2021-09-24 18:34] gilgold commented on #16
fixed in v3.5

[2021-09-24 18:34] #16 closed, assigned to nobody

[2021-09-24 18:35] #2 closed, assigned to gilgold

[2021-09-24 18:36] gilgold commented on #6
Added to v3.5, scheduled for release later today

[2021-09-24 18:36] #6 closed, assigned to nobody

[2021-09-27 07:23] Esteban-Rocha opened #18 "Pinned tabs / whitelist"
First thanks for the ext, works great. I may be missing something so I wonder if there is a way of avoiding pinned tabs to get saved? I had to manually edit the list to have **only** non pinned tabs in the group.

If this feature is not implemented, then consider this as a request, I'm sure that a bunch of people will appreciate this.

Thank you!

[2021-09-27 14:32] gilgold commented on #18
Hey Esteban!
Thanks for the suggestions!
I will try to add that to the next version.
For now, you can also choose to save only highlighted tabs by clicking the first non pinned tab and shift + click the last tab in the row to highlight all tabs in that range.
When you open Tabox, it will offer to only save those highlighted tabs.

[2021-09-27 15:28] NylaTheWolf opened #19 "Logging in through google doesn't work?"
I've tried logging in several times via Google, but nothing happens when I hit log in. I've tried several times on a few different days and it didn't work properly.

sorry for the brief post, I'm in class and gotta get to work haha

[2021-09-27 15:30] gilgold commented on #19
Hey @NylaTheWolf can you tell me what version of Tabox you are using now and what browser?
Thanks!

[2021-09-27 15:32] NylaTheWolf opened #20 "Feature request: Have an option to save all open windows."
SessionBuddy is able to save ALL current windows you have open. The biggest issue with SessionBuddy for me was the lack of support for tab groups, which brought me to this extension. It'd be fantastic if I could save all open windows at one and have my tabs separated by windows, with sections within those windows for the tab groups

[2021-09-27 15:36] gilgold commented on #20
Will definitely consider that! Though I do not have a timeframe for this yet. Thanks!

[2021-09-27 22:00] Esteban-Rocha commented on #18
@gilgold Thank you so much for the tip, 😁 👏🏻

[2021-09-28 03:56] mattrabe commented on #5
pull request #21

[2021-09-28 15:13] NylaTheWolf commented on #20
Understandable! Life gets in the way a lot haha. Take all the time you need!

[2021-09-28 20:33] NylaTheWolf commented on #19
Version 3.5 of Tabox and Google Chrome Version 94.0.4606.61 (Official Build) (64-bit)

[2021-09-30 08:29] jorgitobg commented on #3
Would be GREAT to have auto-update for collections.... doing manually doesnt work because you can forget.

Do you have some ETA for this update?

[2021-10-05 18:05] sevdalin opened #22 "Can't login & Sync"
Once I login with my account (I give all possible permissions) the first second it says success and I can see I'm logged and the next second I got error and I'm logged out. I can't sync my data or log in. I used "Restore collection from version 3.4.9" and I get my saved bookmarks but if I close the extension window they disappear again. I'm not sure after which version the problem occurred because

[2021-10-05 18:25] gilgold commented on #22
Possibly related to #19
Thank you for the info and screenshots!
I am looking into it.

[2021-10-31 20:59] gilgold opened #23 "Add support for exporting / importing all collections at once"
Support for an "export all collections" option and update "import collections" to support importing multiple collections

[2021-11-01 16:03] gilgold opened #24 "Add option to force load collections from Google Drive"
Sometimes sync is not perfect. There could be a case where the data in Google Drive does not match what Tabox has locally (for example, if opening Tabox after clearing Local Storage).
This issue is for adding an option to the settings menu to allow a user to request the data from Google Drive be loaded into Tabox forcefully.

[2021-11-01 23:54] gilgold commented on #18
Done, will be included in v3.5.1

[2021-11-01 23:55] gilgold commented on #5
I created another implementation, this one will use the current text box for adding collection as a search / add combo box.

will be released in v3.5.1

[2021-11-02 14:47] Esteban-Rocha commented on #18
@gilgold Awesome work, thank you so much!

[2021-11-02 15:20] gilgold opened #25 "Edit Collection - open single tab - have the tab open in existing or new window"
Current behavior is that opening a single tab will create a new window.
This will change the behavior so the tab will be added to current window or open in a new window, based on the "new window" switch used for opening collections.

[2021-11-03 22:39] gilgold commented on #19
I made some improvements to the login process but I was never able to reproduce your issue, it always worked for me.
Once v3.5.1 is out please check and see if the issue is resolved, if not I will continue to investigate this.

[2021-11-04 04:57] NylaTheWolf commented on #19
Thank you for your efforts!

I think I found the possible issue: I turned off extension syncing a month or two ago, and I never turned it back on. 😅 I'll let you know if it works once I do.

[2021-11-04 18:38] gilgold commented on #19
Hmm I wonder if that has something to do with it. Though Tabox itself does not relay on extension syncing to work, it's possible the Google auth does.

[2021-11-10 21:12] NylaTheWolf commented on #19
So I finally got around to doing it, and after turning on syncing for my extensions, signing in through Google finally worked! However, I signed into Tabox on my Mac first, and it seems like the sessions on the Mac overrode the sessions I had on my Windows laptop because I don't see the sessions I saved on my Windows laptop. This isn't a huge deal at all for my case because I made sure to export e

[2021-11-10 21:12] #19 closed, assigned to nobody

[2021-11-10 21:43] gilgold commented on #19
Good to know, thanks for checking!
Sync works by comparing timestamps of remote and local, whatever is newer overwrites the older.
The upcoming version will have some improvements to that as well

[2021-11-12 22:42] #5 closed, assigned to nobody

[2021-11-12 22:42] #18 closed, assigned to nobody

[2021-11-12 22:42] #22 closed, assigned to nobody

[2021-11-12 22:42] #23 closed, assigned to nobody

[2021-11-12 22:42] #24 closed, assigned to nobody

[2021-11-12 22:42] #25 closed, assigned to nobody

[2021-11-13 03:15] gilgold commented on #22
Though I was not able to reproduce the issue, I made some changes to the sync process in v3.5.1 that hopefully fix this.
Please reopen the issue if it still happens in v3.5.1 (currently pending publish in the Chrome store)

[2021-11-16 16:31] gilgold commented on #3
Looking into this now.

[2022-01-14 00:14] kapdon opened #27 "google sign in button crashes microsoft edge"
edge Version 97.0.1072.55 (Official build) (64-bit)

click on the button and browser closes.

[2022-01-28 18:18] adamhill commented on #27
I can confirm this crash.

I have a brand new Windows 11 instance. Setup Edge and Tabox.

Locally it is working fine. But as soon as I click the Google Login button, Edge crashes.

Latest Edge on the Mac does not crash (I am in the Dev channel)

If you need any more repro details I am happy to collect logs or attach a debugger.

Thanks for the awesome tool!

[2022-02-07 15:56] gilgold commented on #27
Thanks for the information! I am looking into this

[2022-02-21 11:38] Droyk opened #28 "Add a way to automatically save sessions every 15min or just dynamically whenever the tab updates or closes"
It's a great way to enhance functionality! like a tab session manager https://chrome.google.com/webstore/detail/tab-session-manager/iaiomicjabeggjcfkbimgmglanimpnae
I don't want to use two extensions make it one-stop for all!

[2022-02-21 11:38] Droyk opened #29 "Add a way to playlist the tabs & session"
I'm a huge right-click open in the background person. and I think many of us are since hoarding tabs consumes memory and processing power. so I was thinking a better way to do this make a **tab playlist**. whenever a user hits right-click open in the background your extension doesn't open the link it just adds that link into a list and that list will work as a playlist. just like a **Youtube Playl

[2022-02-21 14:51] gilgold commented on #28
Thanks @Droyk ! I will look into adding this feature

[2022-02-21 15:07] gilgold commented on #29
Thanks for the suggestion @Droyk ! It seems like a nice idea but it is not how Tabox was designed to work, and would require a major change in the extension UI and functionality, so I am afraid for now, it will not be possible to work on.

[2022-02-21 19:22] Droyk commented on #29
Sad, but understandable see if in the future you can do anything about it! would('ve) be(en) a huge + for functionality!

[2022-02-21 20:56] Droyk commented on #28
before going at it may I suggest reading this article https://www.interaction-design.org/literature/article/a-simple-introduction-to-lean-ux recently can across it! felt so relatable! it had everything I think devs should think about when developing anything. always look at what can be done to make the user experience more productive! always stay one step ahead!

[2022-02-21 20:59] Droyk commented on #29
& a huge one to increase the userbase! an extension that makes tab playlists is a tab hoarder's dream come true!

[2022-03-15 14:57] wksantiago opened #30 "Problems importing from exported file"
I was able to export all my collections to a file, by clicking the settings icon and choose to export all collections.

When I tried to import it does not do anything.

Is this normal??

[2022-03-15 15:07] gilgold commented on #30
Hey!
I don't see any issues when I attempt to do this myself, would you mind either attaching the exported file here or sending it over to info@tabox.co so I can check to see what the issue is?

Thanks!

[2022-03-15 15:14] wksantiago commented on #30
File sent to info@tabox.co

[2022-03-15 15:16] wksantiago commented on #30
For some reasons today when I opened the Browser all tabs disappeared

[2022-03-15 15:19] gilgold commented on #30
Thank you!
I was ale to successfully import the file and all its collections.
Here is something you can try to do:
1. Go to the Extensions page in Chrome
2. Disable or remove Tabox
3. Re-enable / re-install Tabox
4. Try to import the file again

If that does not work, there could be something else interfering - perhaps some other extension - in that case, try to disable some security /  tab blocki

[2022-03-15 15:38] wksantiago commented on #30
OK I tried to import on a Chromebook and it worked.

But as soon as I linked to my google account it synced with the google backup hidden file which is empty and it synced empty.

Where can I remove the backup file in my google drive that is hidden?

[2022-03-15 15:48] gilgold commented on #30
The sync file is located in a hidden folder that can only be accessed programmatically.
You could try to enable sync first, then import the file - that should cause the sync file to get updated with the imported collections

[2022-03-15 15:57] wksantiago commented on #30
Yes that worked.  I wonder if there is a log to see why the import function on the other browsers did not work?
Thanks,

[2022-03-15 16:00] wksantiago commented on #30
I did see that "Restore collections from version" 3.5 option,

Is no longer available on the PC other browsers after sync.

Was there a recent upgrade form v3.5 to v3.5.1?

[2022-03-15 16:53] gilgold commented on #30
v3.5.1 is the current version. The option to restore form previous version only appears after a Tabox has updated to a new version, in case there was some problem with the update process

[2022-03-15 17:15] #30 closed, assigned to nobody

[2022-03-15 17:15] wksantiago commented on #30
Strange what happened but glad it was solved.

Thanks,

[2022-03-29 00:22] gilgold commented on #3
In final staging of testing, will be released in the next few days

[2022-03-29 00:27] gilgold opened #31 "update sync behavior when first enabling sync"
When sync is enabled by the user, compare timestamps for local and remote and either overwrite local or overwrite remote data.

[2022-03-29 00:28] gilgold opened #32 "Bug - scrolling does not work on chrome version > 100"
Chrome Canary testing revealed that scrolling collections does not work

[2022-03-29 00:30] gilgold opened #33 "Some users get "logged out" after a while, causing sync to be disabled"
In some cases, users are reporting that sync options was disabled for them, even though they have enabled it in the past.

[2022-03-31 16:33] #32 closed, assigned to nobody

[2022-03-31 16:33] #33 closed, assigned to nobody

[2022-03-31 16:40] #31 closed, assigned to nobody

[2022-04-03 02:03] gilgold commented on #3
v3.5.3 has been submitted to the chrome and edge stores. pending review process.
This includes auto updating collections (in BETA, need to be enabled in the settings menu, it will be off by default)

[2022-04-03 02:03] #3 closed, assigned to nobody

[2022-04-06 14:01] gilgold commented on #27
This may have been fixed by Edge, can you update Edge to the latest version and try again?
Also if you have any security extensions suck as BitDefender or other antivirus extensions, can you try disabling those to see if they may be causing it?

Thanks!

[2022-04-14 20:07] gilgold opened #37 "In some cases, a tab will not be grouped when opening a collection"
If a collection consists of a tab group as the first entity in the window (i.e the collection starts with a tab group and not a tab) then opening this collection results in one of the tabs from the group to pop out.

[2022-04-21 02:03] #37 closed, assigned to nobody

[2022-04-22 03:47] gilgold commented on #27
Closing for now, if anyone sees it happening again on the latest version of Edge please reopen

[2022-04-22 03:47] #27 closed, assigned to nobody

[2022-04-25 17:06] kyletimmermans opened #39 "TabGroups not opening properly"
<div>Hello, I wanted to let you know that I love Tabox and I use it all the time!</div>
</br>
<div>I recently started using Tabox v3.5.4 and noticed an issue when trying to open my collections in a new or current window. When I try to open a collection, the tabs won't open in their colored TabGroups, but rather as individual tabs only. I was able to recreate the issue on another machine with a fre

[2022-04-27 15:44] ghost commented on #39
Hello, I have same problem!!!

[2022-04-27 19:55] gilgold commented on #39
Thanks for reporting! I am aware of the issue and working on a fix. Should be out in a few days (depending on the time it takes for the version to be approved on the Chrome and Edge stores)

[2022-04-28 16:49] wksantiago commented on #39
Thanks @gilgold is there a way to get this new update without waiting for Chrome and Edge stores?

[2022-04-28 23:45] gilgold commented on #39
@wksantiago i am still working on the fix, found a few more issues during testing. Hope to have it out ASAP.
Appreciate your patience!

[2022-04-29 15:48] wksantiago commented on #39
thanks

[2022-05-02 17:16] #39 closed, assigned to nobody

[2022-05-02 17:17] gilgold commented on #39
Fixed - Waiting for approval on Chrome and Edge web stores.

[2022-08-01 14:57] jayanty opened #41 "Not saving tab groups anymore"
Tabox has been a lifesaver and I've been using it for months now. Recently, I noticed that it doesn't save tab groups anymore and if I update an older collection with saved tab groups, those groups are getting lost. Has there been a change with recent versions and do I need to update some settings to start saving groups again?

[2022-08-01 15:02] gilgold commented on #41
Hey @jayanty I did not release any updates since May so there must be something else going on.
Can you try to disable Tabox and then reenable it? (Go to the Extensions page in Chrome and turn off the switch next to it, then turn it back on).

If that does not work, you can try the following:

1. Export all your collections to a file (in the gear menu, select "Export all collections")
2. Remove Tab

[2022-08-01 17:06] jayanty commented on #41
Hi @gilgold thank you for those recommendations.
I tried disabling and re-enabling the extension and then went ahead and removed the extension entirely and then installed it again but both times I still see the problem described earlier.

After I removed the extension and re-installed it, I did not have to import my collections again because I keep Tabox synced with my Google Account. Not sure if

[2022-08-01 20:14] gilgold commented on #41
Do you use any security or blocking extensions? If so, try to disable some of them and see if that help.
In some cases other extension interfere with Tabox, for example the BitDefender extension is known to cause issues.

[2022-09-06 11:36] Loskoss opened #42 "Cannot import collections on edge (linux)"
I exported collection in edge windows now trying to import on edge linux doesnt work.

[2022-09-06 23:34] gilgold commented on #42
There should not be any difference between Edge in windows and Linux, is there an error after selecting a file to import?

[2022-09-28 14:07] gilgold opened #44 "New Feature: context menus"
When right clicking anywhere eon the page, allow the user to add the tab to a collection in Tabox.
Also, if a given collection holds tab groups, allow adding the tab directly inside a group.

[2022-09-28 14:09] gilgold opened #45 "Improvement: Allow sorting collections by name and switch to drop down option"
Add an option to sort collection alphabetically (by name).
Also, switch to a drop down select box to select how to sort the collection instead of buttons.

[2022-09-29 18:17] #45 closed, assigned to gilgold

[2022-09-29 18:18] #44 closed, assigned to gilgold

[2022-10-10 13:27] GalaxySnail commented on #41
I have the same problem on chromium `106.0.5249.62` with tabox `3.5.7`.

![](https://user-images.githubusercontent.com/53637421/194875690-85903ea8-26dd-4495-b35c-269aaf053137.png)

![](https://user-images.githubusercontent.com/53637421/194875689-5bd954e3-2030-4ba5-a16c-194a7eecc662.png)

Indention is still there but the group looks missing.

I exported the collection and I found that `"chromeGroup

[2022-10-10 14:56] gilgold commented on #41
Hey @GalaxySnail I tried to reproduce it, but it seems to work ok for me, can you try updating Chrome to the latest version (106.0.5249.103) and try again?
Also, please see my previous comment about any other extensions that may interfere.
Thanks!

[2022-10-10 15:20] GalaxySnail commented on #41
Thanks for the quick reply!

It seems to be caused by workona (another browser tab manager). After workona is disabled, tabox works fine for me.

[2022-10-10 16:48] gilgold commented on #41
Good to know! Thanks for checking, I will try and see why that extension is causing issues.

[2022-10-10 17:20] GalaxySnail commented on #41
Hmmmm I'm sorry but thing are going to be weird. I disabled workona and restarted the browser, at first everything was fine, but after a few tens of minutes later I found the same problem appeared again. Restarting tabox itself didn't work, I had to restart the browser and then tabox gets normal again. I have no idea with it.

[2022-10-10 17:21] gilgold commented on #41
Interesting. I will continue to look into it. Thanks for the update!

[2022-11-01 10:00] pranavAbe opened #47 "Feature Request: Tab Counter on the Extension Button"
## Idea:
A toggle in the settings that enabled a **counter** for the **number of tabs open** to be displayed on the extension button.

An additional flair to this will be having the counter take on a **colour gradient** (*white -> red* indicating *low -> high*) according to the **system load** from the number of tabs open.

This feature is found in a competing session manager extension Session Bud

[2022-11-01 15:08] gilgold commented on #47
Hey @pranavAbe ! Thanks for the suggestion!
How would you suggest the count be considered when there are multiple windows with multiple tabs? Should it count the total number of tabs across all windows or just for the current window?

[2022-11-01 15:10] pranavAbe commented on #47
Hey, thanks for the prompt reply @gilgold !
I'm all for customisability for the end user, so maybe offering a toggle to set it to count both the number of tabs in each window or count the total number of tabs from all windows would be great.

[2022-11-01 15:12] gilgold commented on #47
I will look into adding that! Thanks!

[2022-11-01 15:20] pranavAbe opened #48 "Bug: Resume auto-updating collections even when browser crashes and tabs are restored"
## Current Behaviour

If a collection is set to auto-update, then the collection needs to have been opened from Tabox itself. in the current state, if the browser crashes and the tabs are restored, Tabox **fails to recollect that the current window was being tracked and auto-updated as part of a collection**.

## Expected Behaviour

Say, in the instance that the browser crashes, it would be great

[2022-11-01 16:43] gilgold commented on #48
Thanks for the feedback, however, Tabox knows which window to track by the window ID. when Chrome crashes and the session is restored, the window ID changes and there is no way of knowing this was the same window as before

[2022-11-01 19:11] pranavAbe commented on #48
Is it perhaps possible, that when restored from a crash, Tabox does a "post-crash check", and matches the tabs in each current open window against each saved collection, and when a 100% match is found for the open tabs, it hooks the new window IDs of all matched windows to tracking the same collections they were matched with?

Asking cause sometimes it's easier to force kill the browser, so I can

[2022-11-01 19:22] gilgold commented on #48
I have to double check that, but I believe that if you force close Chrome, the window.onRemove event is still called. This event is where Tabox monitors open collections and when a window is removed (also closed) it stops tracking the collection. In that sense, there is no difference between you closing a window and force closing the browser.

As for keyboard shortcuts, ctrl (cmd) + shift + 1 thro

[2022-11-01 19:55] pranavAbe commented on #48
Alright, so from what I understand, when the `windows.onRemove` event is called, Tabox does a final check for all open tabs and records them before the window is closed, and stops tracking the collection, I presume.

Might there perhaps be an event with a listener to note for crash restoration (*from some quick Googling, there doesn't seem to be, but I thought I'd ask you if you have a workaround

[2022-11-01 20:46] gilgold commented on #48
Tabox listens to all Tab, Window and TabGroup events and updates the collection in real time when the events are triggered. in the onRemove event, it simply stops tracking the collection if the window associated with it.
There is no event or a way to identify when Chrome starts and restores a session as far as I can see, but if that changes I will be happy to look into this further.

[2022-11-02 05:15] pranavAbe commented on #48
Hey, I appreciate you a lot for giving me your time, entertaining this idea so far and hearing me out!
So I did some more mild digging and concocted a rough solution in my head, and I'd like to hear your take on it:

1) Tabox maintains an indexable document of its collections and the tabs, tab indexes and tab groups stored within.
2) Tabox listens for the `chrome.Windows.onCreated` to spot a new w

[2022-11-02 15:48] gilgold commented on #48
Interesting plan, and thank you for taking the time to look into this! I will try to play around with that solution and see if I can get it to work. Might take a while if/when this thing is released though.

[2022-11-03 02:44] pranavAbe commented on #48
And thank you for lending an ear to my suggestion!

Truly hope you'll find a way to make this work cause it would be a good addition to the way auto-tracking collections work right now. I realise that it will probably take some time to make sure that this feature might take a little while to cover all the edge cases *if* it even works out, so please do take your good time in working on it and givi

[2022-11-03 03:04] pranavAbe opened #49 "Enhancement: Manually updating a collection with Auto-Updating Collections turned on re-starts auto-updation"
## Problem Statement
While the Auto-Updating Collections setting is turned on, if the feature loses the window ID hook for the current collection and stops tracking the collection (say, in a situation where the browser crashed and the window was restored), there is no manual way to resume tracking and updating the collection for the currently open window. The only current way is to close the curre

[2022-11-03 18:34] gilgold commented on #49
I will see how I can add this option, to basically update + link window to collection. Thanks for another great suggestion!

[2022-11-04 00:05] gilgold commented on #49
Added this to the next version (3.5.8).
This will add a new setting in the settings menu, under Auto Updating Collections: "Click on 'Update' sets 'active'".
Once this is enabled, and auto updating collections is active as well, when you click the update button it will link the collection to the current window.

[2022-11-04 00:15] gilgold opened #50 "Implement improved lazy loading tabs mechanism"
The built in Defer option seems to be causing problems for some people.
Instead, we need a new 'lazy loading' option, where all tabs open an internal html page that redirects to the relevant url on focus.

[2022-11-04 00:36] pranavAbe commented on #49
Thanks a lot for putting in the effort to build it in so quick, mate! Will definitely be shouting out Tabox to as many people as I can once these little kinks are sorted out.

Feel free to close this issue if the feature is set for production in the next update already.

[2022-11-09 21:44] gilgold opened #51 "Bug: problem opening a collection when using multiple monitors"
Scenario:
1. On a setup with multiple monitors, save a collection for a window located on one of the external screens.
2. When not using the above mentioned screen (i.e screen is disconnected) open the collection

Result: the collection is open but unreachable, as it hides outside the view bounds

[2022-11-10 01:21] jayanty commented on #41
Discovered something by accident today. I have a few windows which are essentially Chrome Apps (Google Calendar running as a dedicated app for example). With any of those open, groups are not saved. If I close those down, groups are saved. Hopefully @gilgold can replicate that.

[2022-11-10 14:17] gilgold commented on #41
@jayanty by 'Chrome Apps' do you mean Chrome OS apps? I am not sure how to have apps run as tabs in the browser on Win or Mac

[2022-11-11 20:13] gilgold commented on #41
Ok I. was able to get a hold of a chromebook to test this out, and it seems @jayanty is right, when there is a chrome app open somewhere in the background, groups are not saved. I will dig into this a bit more and hopefully I can add a fix in v3.5.8

Thanks!

[2022-11-11 22:26] gilgold commented on #41
I identified the cause and have applied a fix in v3.5.8, it will be released to the Chrome Web Store on Monday.

[2022-11-12 02:43] jayanty commented on #41
Wow, that's awesome. Looking forward to trying out the fix. For future reference, here's how you can create dedicated chrome apps on Mac OS:

1. Navigate Chrome to the site of your choice. I do this for Google calendar (https://calendar.google.com)
2. Create Chrome App shortcut from the URL - Chrome drop down menu (3 dots icon on top right) > More Tools > Create Shortcut
3. Check the "Open as wind

[2022-11-15 20:09] gilgold commented on #51
Fixed in v3.5.8 - pending publish in the Chrome and Edge stores

[2022-11-15 20:09] #51 closed, assigned to nobody

[2022-11-15 20:09] gilgold commented on #50
Fixed in v3.5.8 - pending publish in the Chrome and Edge stores

[2022-11-15 20:09] #50 closed, assigned to nobody

[2022-11-15 20:10] gilgold commented on #49
Fixed in v3.5.8 - pending publish in the Chrome and Edge stores

[2022-11-15 20:10] #49 closed, assigned to nobody

[2022-11-15 20:10] gilgold commented on #47
Fixed in v3.5.8 - pending publish in the Chrome and Edge stores

[2022-11-15 20:10] #47 closed, assigned to nobody

[2022-11-15 20:10] gilgold commented on #41
Fixed in v3.5.8 - pending publish in the Chrome and Edge stores

[2022-11-15 20:10] #41 closed, assigned to nobody

[2022-11-17 10:26] DoctorMidnite opened #53 "about:blank"
recently when i am using tabox and opening a collection of tabs for animeplanet.com some of them turn into blank pages even though they got a url and were loading but suddenly they turn into blank page Note this issue started about 20 days ago or something close to that i have been using this extension for a year or so
![box](https://user-images.githubusercontent.com/118439192/202421866-2924c616-9

[2022-11-17 15:39] gilgold commented on #53
Hey @DoctorMidnite can you confirm this is still happening on v3.5.8 that was released yesterday?

[2022-11-18 20:33] DoctorMidnite commented on #53
Yes Ty **@gilgold** its working perfectly now thanks alot

[2022-11-24 16:11] gilgold commented on #53
Glad to hear it!

[2022-11-24 16:11] #53 closed, assigned to nobody